<% if resource.errors.any? %>
  <div id="error_explanation">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-s text-red-400"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
