<div class="text-center flex flex-row flex-wrap items-center justify-center overflow-x-auto">
<div class="h-min w-auto p-2 bg-white rounded xl border-2 border-black m-4 flex flex-col">
        <div class="flex border-box p-1 flex-col">
            <h1 class="text-5xl">  <%= task.title %> </h1>
            <p class="text-xl mb-4 mt-8">  <%= task.description %> </p>
            <%= link_to 'More Details', task, class: "text-center text-sm bg-blue-500 rounded py-2 text-white mt-2" %>
        </div>
    </div>
</div>


